<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts/newApiLol.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/tailwind.css">
    <title>Document</title>

</head>

<body>
<input type="hidden" id="championName" value="<%= nomeCampeao %>" >
    <div id="showChamp">
        <img src="" id="champImage" alt="Champ" >
    </div>
</body>
</html>