<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts/newApiLol.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/tailwind.css">
    <title>Document</title>

</head>

<body>
<input type="hidden" id="championName" value="" >
    <div id="showChamp">
         <p id="champName"><%= nomeCampeao %></p>
        <img src="https://ddragon.leagueoflegends.com/cdn/13.22.1/img/champion/<%= nomeCampeao %>.png" id="champImage" alt="Champ" >

        <img src="" id="pasiveChamp" alt="passive" >
        <img src="" id="Abilit1" alt="Q" >
        <img src="" id="Abilit2" alt="W" >
        <img src="" id="Abilit3" alt="E" >
        <img src="" id="Abilit4" alt="R" >

        <p><%= lolApi %></p>
     
    </div>
</body>

</html>
