<!DOCTYPE html>
<html lang="pt_BR">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/scripts/apiLol.js" defer="defer"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <link rel="stylesheet" href="/css/tailwind.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>LeagueNode</title>
    </head>

    <body class="bg-gradient-to-l from-emerald-900  to-sky-950 shadow-xl ">
      <header class="w-full shadow-xl" >
        <div class=" p-2 bg-indigo-900 ">
            <input type="checkbox" name="ilumination-style" id="ilumination-style">
            <span><a href="javascript:void(0)">login</a></span>
            <span><a href="javascript:void(0)">register</a></span>
        </div> 
        <div class=" p-2 bg-blue-900">
            <span><a href="javascript:void(0)">home</a></span>
            <span><a href="/champions">champios</a></span>
            <span><a href="javascript:void(0)">stats </a></span>
        </div>
      </header>
     <div> 
      <div class="text-center text-9xl justify-center items-center pt-10"> 
            <p class="text-gray-900">League</p>
               
            <p class="text-green-900">Node</p>
      </div>
          <div class="flex h-screen justify-center items-center">
              <div class="flex text-center justify-center items-center rounded-xl p-10 pt-14 pr-60 pl-60 bg-gradient-to-l from-emerald-900  to-sky-950 shadow-xl z-10">
                  
                  <form action="/champ" type="GET">
                      
                      <div class="p-3 pl-8 pr-8 flex rounded-full bg-slate-200">
                          <input type="text" name="champName" autocomplete="off" class="border-none shadow-transparent outline-none rounded-lg bg-transparent w-96" name="" id="championName" value=>
                    <button id="btn_search" class=" scale-150 p-px material-symbols-outlined" type="submit">
                        search
                    </button>
                </div> 
            </div>
      </div>
             <br>
                </form>
            </div>
        <div id="allChamps">
           
            <img src=""  id="champImage" alt="">
        </div>
        
    </body>

</html>