<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/scripts/index.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
     <link rel="stylesheet" href="./assets/css/styles.css">
    <title>Node</title>
</head>
<body>
    <form action="#">
    <input type="text" name="" id="">
    <button id="btn" type="submit" ><img src="/assets/images/LupaSRC.png" alt="search"></button>
  <br>
</form>
  este app esta sendo usado na porta 


</body>
<script>
    console.log('hy')
</script>
</html>