<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/scripts/index.js" defer="defer"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Node</title>
    </head>
    <body>
        
        <div class="container">
            <form action="#" type="get">
                <input type="text" name="" id="buscarProduto">
               
                <button id="btn" type="submit" ></button>
                <br>
            </form>

        </div>
       <div id="allChamps">
        
       </div>
    </body>

</html>