*{
   margin: 0;
   padding: 0;
}
body{
    background-image:linear-gradient(to right, #21233f , #2F3159); ;
}
#btn{
    cursor: pointer;
    background-color:transparent;
    padding: 22px 22px;
    border: none;
    border-radius: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/images/LupaSRC.png);
}
#buscarProduto{
    padding: 10px;
    border-radius: 10px;
    margin: none;
    border: none;
}
.container{
    width: 98.49%;
    padding:10px;
    background: rgb(26, 25, 25);
    border-radius: 00px 0px 10px 10px;
}